

.navbar {
	background-color:#ffbb33;
	font-size:20px;
	font-style:bold;
	border-color:white;
}

.navbar-brand:hover{
	color:black;
	font-weight: bold;

}
.navbar-brand{
	font-size: 20px;
	font-weight: bold;
}
a{
	color:black;
}
.nav li a:hover{
	background-color:white;
	
	font-weight: bold;
}
.alert{
	padding:5px;
}
button{
	margin-top:17px;
	width: 150px;
	margin-left: 30px;
}
#go_back_button{
	width: 100px;
}
#filter_button{
	width: 100px;
	height: 50px;
	margin-left: 20px;
}
.ui-datepicker {
	width: 280px;
	height: 300px;
	margin: 5px auto 0;
	font: 12pt Arial, sans-serif;
	background-color:white;
}

.ui-datepicker-header {
	background-color:#ffbb33;
	height:40px;
	color: black;
	text-align:center;
	padding-top:3px;
	
}
.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
 
}
.ui-datepicker-title{
	font-size: 16px;
	font-style:bold;
	
}
.ui-datepicker-prev {
margin-top:10px;
  float: left;
  background-position: center -30px;
}
.ui-datepicker-next {
	margin-top:10px;
  float: right;
  background-position: center 0px;
}
.ui-state-default{
	margin:5px;
	padding:5px;
}
.ui-datepicker-title{
	margin-top:10px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}
#time{
	display:inline;
	width:35%;
}
#time2{
	display:inline;
	width:35%;
}
#labelTime{
	width:100%;
}

.panel .panel-heading {
    background-image: none;
    background-color: #ffecb3;
    color: black;
	font-size:30px;
	font-weight:bold;
	padding-top:3px;
	padding-bottom:3px;
}
.panel-title{
	font-size:14px;
	font-weight:bold;
}
.panel-body{
	padding-top:3px;
	padding-bottom:3px;
}	
.table-condensed {
	font-size:12px;
}
.table-condensed th{
	background-color:#ffbb33;
}
.table-condensed tr:nth-child(odd) {
	background: #ffecb3
}
.cell{
	min-width: 10px;
	
}
.cell2{
	max-width: 80px;
}

.nowrap{
	white-space: nowrap;
}
.nowrap a {
  float: right;
  font-size: 14px;
	margin-left:5px;
}
